<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
  <display-name></display-name>
  <servlet>
    <servlet-name>getPayNumber</servlet-name>
    <servlet-class>getPayNumber</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>getFeeNumber</servlet-name>
    <servlet-class>servlet.getFeeNumber</servlet-class>
  </servlet>
  <servlet>
    <description>This is the description of my J2EE component</description>
    <display-name>This is the display name of my J2EE component</display-name>
    <servlet-name>getReturn</servlet-name>
    <servlet-class>servlet.getReturn</servlet-class>
  </servlet>



  <servlet-mapping>
    <servlet-name>getPayNumber</servlet-name>
    <url-pattern>/getPayNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getFeeNumber</servlet-name>
    <url-pattern>/getFeeNumber</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>getReturn</servlet-name>
    <url-pattern>/servlet/getReturn</url-pattern>
  </servlet-mapping>	
  <welcome-file-list>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
</web-app>
